<article class="tarjeta tarjeta--destacados">
    <header class="tarjeta__encabezado">
      <picture class="tarjeta__imagen">
        <img class="image imagen--producto" src="<%= listaDeProductos.img %>" alt="Miel">
      </picture>
    </header>
    <footer class="tarjeta__pie">
      <section class="tarjeta__pie-seccion seccion--informacion">
        <h2 class="tarjeta__titulo"><%= listaDeProductos.title %></h2>
        <h3 class="tarjeta__precio"><%= listaDeProductos.cost %></h3>
      </section>
      <section class="tarjeta__pie-seccion seccion--precio">
        <div class="contenedor--botones">
          <a class="link" href="/detalle">
            <button class="tarjeta__boton boton--more boton" >
              ver mas
            </button>
          </a>
          <a class="link" href="/carrito">
            <button class="tarjeta__boton boton--buy boton">
              <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
              comprar
            </button>
          </a>
        </div>
      </section>
    </footer>
</article>