<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {css:'/css/product-create-edit.css'}); %>
</head>

<body>
    <%- include('../partials/header'); %>
        <main class="principal">
            <section class="principal__section section--migadepan">
                <div class="contenedor contenedor--migadepan">
                  <%- include('../partials/breadcrumb', {local: 'Crear'}); %>
                </div>
              </section>
            <div class="contenedor contenedor--crear">
                <section class="contenedor contenedor--box">
                    <div class="contenedor-formulario">
                        <h2 class="titleOne">Crear producto</h2>
                        <form action="/productos" method="POST" class="form-create" enctype="multipart/form-data">
                            <div>
                                <div>
                                    <label for="title">Nombre del producto
                                        <input type="text" class="input-text" placeholder="Nombre del producto" name="title"
                                            id="title" required />
                                    </label>
                                </div>
                                <div>
                                    <label for="description">Descripción
                                        <input type="text" class="input-text" placeholder="Descripcion" name="description"
                                            id="description" required />
                                    </label>
                                </div>
                                <div>
                                    <label>Destacado:</label>
                                    <div class="checkbox-container yellow">
                                        <input type="checkbox" checked id="toggle"  />
                                        <label for="toggle"></label>
                                        
                                    </div>
                                </div>
                                <div>
                                    <label for="category" class="form-label">Categoría:</label>
                                    <select name="category" id="category" class="form-input" required>
                                        <option value="">Elegí</option>
                                        <option value="salud">Salud</option>
                                        <option value="alimentos">Alimentos</option>
                                        <option value="belleza">Belleza</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="cost">Precio
                                        <input type="number" class="input-text" placeholder="Precio" name="cost" id="cost"
                                            required />
                                    </label>
                                </div>
                                <div>
                                    <label for="img">Foto de producto</label>
                                    <input type="file" name="img" />
                                </div>
                                <button type="submit" class="submit">Agregar producto</button>
                            </div>
        
                        </form>
                    </div>
                </section>
            </div>
        </main>
        <%- include('../partials/footer'); %>
</body>

</html>