<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
<div class="container"> 
    <div class="product-container">
 <img src="./imagenes/570.webp" alt= "" width="200px">  
 <hr>
 <h2>miel botella 1000 gr</h2> 
 <p>Miel 100% Pura de Abeja</p>
 <button>
comprar
 </button>
</div>
<div class="product-container">
    <img src="./imagenes/570.webp" alt= "" width="200px">  
    <hr>
    <h2>miel garrafa 5k</h2> 
    <p>Miel 100% Pura de Abeja</p>
    <button>
   comprar
    </button>
   </div>
   <div class="product-container">
    <img src="./imagenes/granola" alt= "" width="200px">  
    <hr>
    <h2>granola</h2> 
    <p>barra de granola y miel 23gr unidad</p>
    <button>
    comprar
  