<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
<div class="container"> 
    <div class="product-container">
 <img src="../public/img/shampoo_miel_polen.png" alt= "" width="200px">  
 <hr>
 <h2>shampoo</h2> 
 <p>Miel</p>
 <button>
comprar
 </button>
</div>
<div class="product-container">
    <img src="../public/img/crema_corporal_facial.png" alt= "" width="200px">  
    <hr>
    <h2>crema corporal</h2> 
    <p>150ml</p>
    <button>
   comprar
    </button>
   </div>
   <div class="product-container">
    <img src="../public/img/jalea_real.png" alt= "" width="200px">  
    <hr>
    <h2>jabon</h2> 
    <p>miel</p>
    <button>
    comprar
</button>
</div>
</div>
</body>
</html>
  