p{
    font-size: 15px;
    color: orangered;
}
h2{
    color:  orangered;
}
button{
    color: orangered;
    background-color: yellow;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    border-color: yellow;
    width: 50%;
}
.product-container{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 20%;
text-align: center;
}
.container{display: flex}