<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital_Bees</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/styles_listaProductos.css" />
  </head>
  <body class="cuerpo">
    <header class="encabezado">
      <div class="contenedor contenedor--encabezado">
        <nav class="encabezado__nav">
          <section class="encabezado__nav__seccion seccion--logo">
            <a class="link link--logo" href="/">
              <img class="image image--logo" src="img/logoDhBees.png" alt="" />
            </a>
          </section>
          <section class="encabezado__nav__seccion seccion--vistas">
            <ul class="lista lista--vistas">
              <li class="lista__item">
                <a class="link link--vistas" href="/">Home</a>
              </li>
              <li class="lista__item">
                <a class="link link--vistas" href="/productos">Productos</a>
              </li>
              <li class="lista__item">
                <a class="link link--vistas" href="/registro">Registrate</a>
              </li>
              <li class="lista__item">
                <a class="link link--vistas" href="/login">Login</a>
              </li>
              <li class="lista__item">
                <a class="link link--vistas" href="#"
                  ><i class="icono icono--carrito fa-solid fa-cart-shopping"></i
                ></a>
              </li>
            </ul>
            <ul class="lista lista--user">
              <li class="lista__item">
                <a class="link link--vistas" href="#"
                  ><i class="icono icono--usuario fa-solid fa-user"></i
                ></a>
              </li>
              <li class="lista__item">
                <a class="link link--vistas" href="#"
                  ><i class="icono icono--carrito fa-solid fa-cart-shopping"></i
                ></a>
              </li>
              <li class="lista__item">
                <button class="boton boton--hamburguesa">
                  <i class="icono icono--hamburguesa fas fa-bars"></i>
                </button>
              </li>
            </ul>
          </section>
        </nav>
      </div>
    </header>

    <main class="principal">

      <section class="principal__section section--migadepan">
        <div class="contenedor contenedor--migadepan">
          <ol class="lista lista--migadepan">
              <li class="item__lista"><i class="fa-solid fa-house"></i></li>
              <li class="item__lista">Producto</li>
              <li class="item__lista">Categorias</li>
          </ol> 
        </div>
      </section>

        <!--primera parte-->
        <img class="imagen__banner" src="img/imagenesProductos/banner_productos.png" alt="Banner Productos">
        <!--primera parte-->
        
        <!--seccion salud-->
        <section class="principal__section section--destacados">
        <div class="contenedor contenedor--tarjetas">
          <h2 class="principal__titulo-section">Salud</h2>

          <article class="tarjeta tarjeta--destacados">
            <header class="tarjeta__encabezado">
              <picture class="tarjeta__imagen">
                <img class="image imagen--producto" src="img/imagenesProductos/salud/jalea_real.png" alt="Miel">
              </picture>
            </header>
            <footer class="tarjeta__pie">
              <section class="tarjeta__pie-seccion seccion--informacion">
                <h2 class="tarjeta__titulo">Jalea Real</h2>
                <!--<p class="tarjeta__descripcion"></p>-->
                <h3 class="tarjeta__precio">$60.000</h3>
              </section>
              <section class="tarjeta__pie-seccion seccion--precio">
                <div class="contenedor--botones">
                  <a class="link" href="">
                    <button class="tarjeta__boton boton--more boton" >
                      ver mas
                    </button>
                  </a>
                  <a class="link" href="/carrito">
                    <button class="tarjeta__boton boton--buy boton">
                      <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
                      comprar
                    </button>
                  </a>
                </div>
              </section>
            </footer>
          </article>

          <article class="tarjeta tarjeta--destacados">
            <header class="tarjeta__encabezado">
              <picture class="tarjeta__imagen">
                <img class="image imagen--producto" src="img/imagenesProductos/salud/gelMiel.jpg" alt="Jalea Real">
              </picture>
            </header>
            <footer class="tarjeta__pie">
              <section class="tarjeta__pie-seccion seccion--informacion">
                <h2 class="tarjeta__titulo">Gel de Miel</h2>
                <!--<p class="tarjeta__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>-->
                <h3 class="tarjeta__precio">$30.000</h3>
              </section>
              <section class="tarjeta__pie-seccion seccion--precio">
                <div class="contenedor--botones">
                  <a class="link" href="">
                    <button class="tarjeta__boton boton--more boton" >
                      ver mas
                    </button>
                  </a>
                  <a class="link" href="/carrito">
                    <button class="tarjeta__boton boton--buy boton">
                      <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
                      comprar
                    </button>
                  </a>
                </div>
              </section>
            </footer>
          </article>

          <article class="tarjeta tarjeta--destacados">
            <header class="tarjeta__encabezado">
              <picture class="tarjeta__imagen">
                <img class="image imagen--producto" src="img/imagenesProductos/salud/polen_frasco.jpg" alt="Jabón de Miel">
              </picture>
            </header>
            <footer class="tarjeta__pie">
              <section class="tarjeta__pie-seccion seccion--informacion">
                <h2 class="tarjeta__titulo">Polen</h2>
                <!--<p class="tarjeta__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>-->
                <h3 class="tarjeta__precio">$130.000</h3>
              </section>
              <section class="tarjeta__pie-seccion seccion--precio">
                <div class="contenedor--botones">
                  <a class="link" href="">
                    <button class="tarjeta__boton boton--more boton" >
                      ver mas
                    </button>
                  </a>
                  <a class="link" href="/carrito">
                    <button class="tarjeta__boton boton--buy boton">
                      <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
                      comprar
                    </button>
                  </a>
                </div>
              </section>
            </footer>
          </article>

          <article class="tarjeta tarjeta--destacados">
            <header class="tarjeta__encabezado">
              <picture class="tarjeta__imagen">
                <img class="image imagen--producto" src="img/imagenesProductos/salud/propoleo.png" alt="Miel">
              </picture>
            </header>
            <footer class="tarjeta__pie">
              <section class="tarjeta__pie-seccion seccion--informacion">
                <h2 class="tarjeta__titulo">Propoleo</h2>
                <!--<p class="tarjeta__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>-->
                <h3 class="tarjeta__precio">$70.000</h3>
              </section>
              <section class="tarjeta__pie-seccion seccion--precio">
                <div class="contenedor--botones">
                  <a class="link" href="">
                    <button class="tarjeta__boton boton--more boton" >
                      ver mas
                    </button>
                  </a>
                  <a class="link" href="/carrito">
                    <button class="tarjeta__boton boton--buy boton">
                      <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
                      comprar
                    </button>
                  </a>
                </div>
              </section>
            </footer>
          </article>


          <!--seccion alimentos-->
          <section class="principal__section section--destacados">
            <div class="contenedor contenedor--tarjetas">
              <h2 class="principal__titulo-section">Alimentos</h2>

          <article class="tarjeta tarjeta--destacados">
            <header class="tarjeta__encabezado">
              <picture class="tarjeta__imagen">
                <img class="image imagen--producto" src="img/imagenesProductos/alimentos/miel_50gr.jpg" alt="Miel">
              </picture>
            </header>
            <footer class="tarjeta__pie">
              <section class="tarjeta__pie-seccion seccion--informacion">
                <h2 class="tarjeta__titulo">Miel 50gr</h2>
                <!--<p class="tarjeta__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>-->
                <h3 class="tarjeta__precio">$70.000</h3>
              </section>
              <section class="tarjeta__pie-seccion seccion--precio">
                <div class="contenedor--botones">
                  <a class="link" href="">
                    <button class="tarjeta__boton boton--more boton" >
                      ver mas
                    </button>
                  </a>
                  <a class="link" href="/carrito">
                    <button class="tarjeta__boton boton--buy boton">
                      <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
                      comprar
                    </button>
                  </a>
                </div>
              </section>
            </footer>
          </article>

          <article class="tarjeta tarjeta--destacados">
            <header class="tarjeta__encabezado">
              <picture class="tarjeta__imagen">
                <img class="image imagen--producto" src="img/imagenesProductos/alimentos/miel_300gr.jpg" alt="Miel">
              </picture>
            </header>
            <footer class="tarjeta__pie">
              <section class="tarjeta__pie-seccion seccion--informacion">
                <h2 class="tarjeta__titulo">Miel 300gr</h2>
                <!--<p class="tarjeta__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>-->
                <h3 class="tarjeta__precio">$70.000</h3>
              </section>
              <section class="tarjeta__pie-seccion seccion--precio">
                <div class="contenedor--botones">
                  <a class="link" href="">
                    <button class="tarjeta__boton boton--more boton" >
                      ver mas
                    </button>
                  </a>
                  <a class="link" href="/carrito">
                    <button class="tarjeta__boton boton--buy boton">
                      <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
                      comprar
                    </button>
                  </a>
                </div>
              </section>
            </footer>
          </article>

          <article class="tarjeta tarjeta--destacados">
            <header class="tarjeta__encabezado">
              <picture class="tarjeta__imagen">
                <img class="image imagen--producto" src="img/imagenesProductos/alimentos/miel_1000gr.jpg" alt="Miel">
              </picture>
            </header>
            <footer class="tarjeta__pie">
              <section class="tarjeta__pie-seccion seccion--informacion">
                <h2 class="tarjeta__titulo">Miel 1000gr</h2>
                <!--<p class="tarjeta__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>-->
                <h3 class="tarjeta__precio">$70.000</h3>
              </section>
              <section class="tarjeta__pie-seccion seccion--precio">
                <div class="contenedor--botones">
                  <a class="link" href="">
                    <button class="tarjeta__boton boton--more boton" >
                      ver mas
                    </button>
                  </a>
                  <a class="link" href="/carrito">
                    <button class="tarjeta__boton boton--buy boton">
                      <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
                      comprar
                    </button>
                  </a>
                </div>
              </section>
            </footer>
          </article>

          <article class="tarjeta tarjeta--destacados">
            <header class="tarjeta__encabezado">
              <picture class="tarjeta__imagen">
                <img class="image imagen--producto" src="img/imagenesProductos/alimentos/miel_cristalizada.png" alt="Miel">
              </picture>
            </header>
            <footer class="tarjeta__pie">
              <section class="tarjeta__pie-seccion seccion--informacion">
                <h2 class="tarjeta__titulo">Miel cristalizada</h2>
                <!--<p class="tarjeta__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>-->
                <h3 class="tarjeta__precio">$70.000</h3>
              </section>
              <section class="tarjeta__pie-seccion seccion--precio">
                <div class="contenedor--botones">
                  <a class="link" href="">
                    <button class="tarjeta__boton boton--more boton" >
                      ver mas
                    </button>
                  </a>
                  <a class="link" href="/carrito">
                    <button class="tarjeta__boton boton--buy boton">
                      <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
                      comprar
                    </button>
                  </a>
                </div>
              </section>
            </footer>
          </article>

          <!--seccion belleza-->
          <section class="principal__section section--destacados">
            <div class="contenedor contenedor--tarjetas">
              <h2 class="principal__titulo-section">Belleza</h2>

          <article class="tarjeta tarjeta--destacados">
            <header class="tarjeta__encabezado">
              <picture class="tarjeta__imagen">
                <img class="image imagen--producto" src="img/imagenesProductos/belleza/cera_abeja.png" alt="Miel">
              </picture>
            </header>
            <footer class="tarjeta__pie">
              <section class="tarjeta__pie-seccion seccion--informacion">
                <h2 class="tarjeta__titulo">cera pura de abejas</h2>
                <!--<p class="tarjeta__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>-->
                <h3 class="tarjeta__precio">$70.000</h3>
              </section>
              <section class="tarjeta__pie-seccion seccion--precio">
                <div class="contenedor--botones">
                  <a class="link" href="">
                    <button class="tarjeta__boton boton--more boton" >
                      ver mas
                    </button>
                  </a>
                  <a class="link" href="/carrito">
                    <button class="tarjeta__boton boton--buy boton">
                      <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
                      comprar
                    </button>
                  </a>
                </div>
              </section>
            </footer>
          </article>

          <article class="tarjeta tarjeta--destacados">
            <header class="tarjeta__encabezado">
              <picture class="tarjeta__imagen">
                <img class="image imagen--producto" src="img/imagenesProductos/belleza/crema_corporal_facial.jpg" alt="Miel">
              </picture>
            </header>
            <footer class="tarjeta__pie">
              <section class="tarjeta__pie-seccion seccion--informacion">
                <h2 class="tarjeta__titulo">crema facial</h2>
                <!--<p class="tarjeta__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>-->
                <h3 class="tarjeta__precio">$70.000</h3>
              </section>
              <section class="tarjeta__pie-seccion seccion--precio">
                <div class="contenedor--botones">
                  <a class="link" href="">
                    <button class="tarjeta__boton boton--more boton" >
                      ver mas
                    </button>
                  </a>
                  <a class="link" href="/carrito">
                    <button class="tarjeta__boton boton--buy boton">
                      <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
                      comprar
                    </button>
                  </a>
                </div>
              </section>
            </footer>
          </article>

          <article class="tarjeta tarjeta--destacados">
            <header class="tarjeta__encabezado">
              <picture class="tarjeta__imagen">
                <img class="image imagen--producto" src="img/imagenesProductos/belleza/jabon_miel.png" alt="Miel">
              </picture>
            </header>
            <footer class="tarjeta__pie">
              <section class="tarjeta__pie-seccion seccion--informacion">
                <h2 class="tarjeta__titulo">Jabon de Miel</h2>
                <!--<p class="tarjeta__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>-->
                <h3 class="tarjeta__precio">$70.000</h3>
              </section>
              <section class="tarjeta__pie-seccion seccion--precio">
                <div class="contenedor--botones">
                  <a class="link" href="">
                    <button class="tarjeta__boton boton--more boton" >
                      ver mas
                    </button>
                  </a>
                  <a class="link" href="/carrito">
                    <button class="tarjeta__boton boton--buy boton">
                      <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
                      comprar
                    </button>
                  </a>
                </div>
              </section>
            </footer>
          </article>

          <article class="tarjeta tarjeta--destacados">
            <header class="tarjeta__encabezado">
              <picture class="tarjeta__imagen">
                <img class="image imagen--producto" src="img/imagenesProductos/belleza/shampoo_miel_polen.jpg" alt="Miel">
              </picture>
            </header>
            <footer class="tarjeta__pie">
              <section class="tarjeta__pie-seccion seccion--informacion">
                <h2 class="tarjeta__titulo">Shampoo de Miel</h2>
                <!--<p class="tarjeta__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>-->
                <h3 class="tarjeta__precio">$70.000</h3>
              </section>
              <section class="tarjeta__pie-seccion seccion--precio">
                <div class="contenedor--botones">
                  <a class="link" href="">
                    <button class="tarjeta__boton boton--more boton" >
                      ver mas
                    </button>
                  </a>
                  <a class="link" href="/carrito">
                    <button class="tarjeta__boton boton--buy boton">
                      <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
                      comprar
                    </button>
                  </a>
                </div>
              </section>
            </footer>
          </article>
        
        </div>
        </section>
      </div>
    </main>
    <footer class="pie">
      <div class="contenedor contenedor--pie">
        <section class="pie__seccion seccion--pie-logo">
          <a class="link link--logo" href="/">
            <img
              class="image image--logo"
              src="img/logoDhBees.png"
              alt="logo digital Bees"
            />
          </a>
        </section>
        <section class="pie__seccion seccion--informacion">
          <h4 class="pie__informacion__titulo">Quienes somos</h4>
          <p class="pie__informacion__parrafo">
            En este proyecto vamos a estar construyendo desde cero una página
            de e-commerce cuya temática principal sería la venta
            de productos derivados de la apicultura.
          </p>
        </section>
        <section class="pie__seccion seccion--redes-sociales">
          <ul class="lista lista--redes-sociales">
            <li class="lista__item">
              <a class="redes-sociales" href=""
                ><i class="fa-brands fa-instagram"></i
                ><span class="redes-sociales__name">Instagram</span></a
              >
            </li>
            <li class="lista__item">
              <a class="redes-sociales" href=""
                ><i class="fa-brands fa-x-twitter"></i
                ><span class="redes-sociales__name">Twitter</span></a
              >
            </li>
            <li class="lista__item">
              <a class="redes-sociales" href=""
                ><i class="fa-brands fa-youtube"></i
                ><span class="redes-sociales__name">Youtube</span></a
              >
            </li>
          </ul>
        </section>
        <section class="pie__seccion seccion--copyright">
          <small class="pie__seccion__copyright"
            >Copyright © 2024 grupo 8 - digital house</small
          >
        </section>
      </div>
    </footer>
  </body>
</html>