<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles_productos.css">
    <title>Digital_Bees</title>
</head>
<body>
   <header>
        <section class="encabezado">
            <img class="encabezado__logo" src="img/logoDhBees.png" alt="">
            <nav class="encabezado__menu-navegacion">
                <ul>
                    <li class="nav__item"><a href="/">Home</a></li>
                    <li class="nav__item"><a href="/productos">Productos</a></li>
                    <li class="nav__item"><a href="/registro">Registrate</a></li>
                    <li class="nav__item"><a href="/login">Login</a></li>
                    <li class="nav__item"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>

            <div class="encabezado__iconos-acceso">
                <li class="encabezado__iconosFlex"><a href="#"><i class="fa-solid fa-user"></i></a></li>
                <li class="encabezado__iconosFlex"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <i class="fas fa-bars"></i>    
            </div>
            
        </section>
        
   </header>

   <main>

    <img class="imagen__banner" src="img/imagenesProductos/banner_productos.png" alt="Banner Productos">
    <div class="subtitulo">
        <!--<i class="fa-solid fa-shop"></i>-->
        <h3>PRODUCTOS - CATEGORIAS</h3>
    </div>
   

    <!--seccion salud-->
    <section class="destacados">
            
        <h1 class="titulo__destacados" id="salud">Salud</h1>
        
            <section class="descripcion-busquedas">
                    <section class="destacados__producto1">
                        <img class="imagenes-producto" src="img/imagenesProductos/salud/jalea_real.png" alt="Jalea Real">
                    <article class="descripcionArticulos">
                        <h2 class="titulares-producto">Jalea Real</h2>
                        <h2 class="titulares-precio">$85.000</h2>
                        <div class="botones">
                            <button class="ver-mas">ver mas</button>
                            <a class="link" href="/carrito">
                              <button class="comprar">
                                <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
                                comprar
                              </button>
                            </a>
                        </div>
                    </article>
                </section>
        
                <section class="destacados__producto2">
                        <img class="imagenes-producto" src="img/imagenesProductos/salud/gelMiel.jpg" alt="Gel de Miel">
                    <article class="descripcionArticulos">
                        <h2 class="titulares-producto">Gel de miel</h2> 
                        <h2 class="titulares-precio">$60.000</h2>
                        <div class="botones">
                            <button class="ver-mas">ver mas</button>
                            <a class="link" href="/carrito">
                              <button class="comprar">
                                <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
                                comprar
                              </button>
                            </a>
                        </div>
                    </article>
                </section>
        
                <section class="destacados__producto3">
                        <img class="imagenes-producto" src="img/imagenesProductos/salud/polen_frasco.jpg" alt="Frasco de Polen">
                    <article class="descripcionArticulos">
                        <h2 class="titulares-producto">Polen</h2>
                        <h2 class="titulares-precio">$26.000</h2>
                        <div class="botones">
                            <button class="ver-mas">ver mas</button>
                            <a class="link" href="/carrito">
                              <button class="comprar">
                                <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
                                comprar
                              </button>
                            </a>
                        </div>
                    </article>
                </section>
        
                <section class="destacados__producto4">
                        <img class="imagenes-producto" src="img/imagenesProductos/salud/propoleo.png" alt="Propoleo">
                    <article class="descripcionArticulos">
                        <h2 class="titulares-producto">Propoleo</h2>
                        <h2 class="titulares-precio">$24.000</h2>
                        <div class="botones">
                            <button class="ver-mas">ver mas</button>
                            <a class="link" href="/carrito">
                              <button class="comprar">
                                <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
                                comprar
                              </button>
                            </a>
                        </div>
                    </article>
                </section>

            </section>
        </section>

        <!--seccion alimentos-->
    <section class="destacados">
            
        <h1 class="titulo__destacados" id="alimentos">Alimentos</h1>
        
            <section class="descripcion-busquedas">
                    <section class="destacados__producto1">
                        <img class="imagenes-producto" src="img/imagenesProductos/alimentos/miel_50gr.jpg" alt="Miel de 50 gr.">
                    <article class="descripcionArticulos">
                        <h2 class="titulares-producto">Miel 50gr</h2>
                        <h2 class="titulares-precio">$10.000</h2>
                        <div class="botones">
                            <button class="ver-mas">ver mas</button>
                            <a class="link" href="/carrito">
                              <button class="comprar">
                                <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
                                comprar
                              </button>
                            </a>
                        </div>
                    </article>
                </section>
        
                <section class="destacados__producto2">
                        <img class="imagenes-producto" src="img/imagenesProductos/alimentos/miel_300gr.jpg" alt="Miel 300 gr.">
                    <article class="descripcionArticulos">
                        <h2 class="titulares-producto">Miel 300gr</h2>
                        <h2 class="titulares-precio">$25.000</h2>
                        <div class="botones">
                            <button class="ver-mas">ver mas</button>
                            <a class="link" href="/carrito">
                              <button class="comprar">
                                <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
                                comprar
                              </button>
                            </a>
                        </div>
                    </article>
                </section>
        
                <section class="destacados__producto3">
                        <img class="imagenes-producto" src="img/imagenesProductos/alimentos/miel_1000gr.jpg" alt="Miel de  1000 gr.">
                    <article class="descripcionArticulos">
                        <h2 class="titulares-producto">miel 1000gr</h2>
                        <h2 class="titulares-precio">$35.000</h2>
                        <div class="botones">
                            <button class="ver-mas">ver mas</button>
                            <a class="link" href="/carrito">
                              <button class="comprar">
                                <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
                                comprar
                              </button>
                            </a>
                        </div>
                    </article>
                </section>
        
                <section class="destacados__producto4">
                        <img class="imagenes-producto" src="img/imagenesProductos/alimentos/miel_cristalizada.png" alt="Miel Cristalizada">
                    <article class="descripcionArticulos">
                        <h2 class="titulares-producto">Miel cristalizada</h2>
                        <h2 class="titulares-precio">$16.000</h2>
                        <div class="botones">
                            <button class="ver-mas">ver mas</button>
                            <a class="link" href="/carrito">
                              <button class="comprar">
                                <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
                                comprar
                              </button>
                            </a>
                        </div>
                    </article>
                </section>

            </section>
        </section>

        <!--seccion Belleza-->
    <section class="destacados">
            
        <h1 class="titulo__destacados" id="belleza">Belleza</h1>
        
            <section class="descripcion-busquedas">
                    <section class="destacados__producto1">
                        <img class="imagenes-producto" src="img/imagenesProductos/belleza/cera_abeja.png" alt="Cera Pura de Abejas">
                    <article class="descripcionArticulos">
                        <h2 class="titulares-producto">cera pura de abejas</h2>
                        <h2 class="titulares-precio">$80.000</h2>
                        <div class="botones">
                            <button class="ver-mas">ver mas</button>
                            <a class="link" href="/carrito">
                              <button class="comprar">
                                <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
                                comprar
                              </button>
                            </a>
                        </div>
                    </article>
                </section>
        
                <section class="destacados__producto2">
                        <img class="imagenes-producto" src="img/imagenesProductos/belleza/crema_corporal_facial.jpg" alt="Crema Facial">
                    <article class="descripcionArticulos">
                        <h2 class="titulares-producto">crema facial</h2>
                        <h2 class="titulares-precio">$40.000</h2>
                        <div class="botones">
                            <button class="ver-mas">ver mas</button>
                            <a class="link" href="/carrito">
                              <button class="comprar">
                                <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
                                comprar
                              </button>
                            </a>
                        </div>
                    </article>
                </section>
        
                <section class="destacados__producto3">
                        <img class="imagenes-producto" src="img/imagenesProductos/belleza/jabon_miel.png" alt="Jabón de Miel">
                    <article class="descripcionArticulos">
                        <h2 class="titulares-producto">Jabon de Miel</h2>
                        <h2 class="titulares-precio">$6.000</h2>
                        <div class="botones">
                            <button class="ver-mas">ver mas</button>
                            <a class="link" href="/carrito">
                              <button class="comprar">
                                <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
                                comprar
                              </button>
                            </a>
                        </div>
                    </article>
                </section>
        
                <section class="destacados__producto4">
                        <img class="imagenes-producto" src="img/imagenesProductos/belleza/shampoo_miel_polen.jpg" alt="Shampoo de Miel">
                    <article class="descripcionArticulos">
                        <h2 class="titulares-producto">Shampoo de Miel</h2>
                        <h2 class="titulares-precio">$30.000</h2>
                        <div class="botones">
                            <button class="ver-mas">ver mas</button>
                            <a class="link" href="/carrito">
                              <button class="comprar">
                                <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
                                comprar
                              </button>
                            </a>
                        </div>
                    </article>
                </section>

            </section>
        </section>
   </main>

   <footer>
    <section class="pie-pagina__seccion1">
        
        <img class="pie-pagina__logo" src="img/logoDhBees.png" alt="">

        <article class="pie-pagina__informacion">
            <h4>Quienes somos</h4><br>
            <p> En este proyecto vamos a estar construyendo desde</p>
            <p>cero una página de e-commerce cuya temática principal sería</p>
            <p>la venta de productos derivados de la apicultura.</p>
        </article>
        
        
        <article class="pie-pagina__redes">
            <br><a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-x-twitter"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
        </article>
    </section>
    <div class="pie-pagina__seccion2">
        <h4>Copyright © 2024 grupo 8 - digital house</h4>
    </div>
    

   </footer>
</body>
</html>