<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
<div class="container"> 
    <div class="product-container">
 <img src="../public/img/jalea_real.png" alt= "" width="200px">  
 <hr>
 <h2>jalea real</h2> 
 <p>20gr</p>
 <button>
comprar
 </button>
</div>
<div class="product-container">
    <img src="../public/img/polen_frasco.png" alt= "" width="200px">  
    <hr>
    <h2>polen</h2> 
    <p></p>
    <button>
   comprar
    </button>
   </div>
   <div class="product-container">
    <img src="../public/img/propoleo.jpg" alt= "" width="200px">  
    <hr>
    <h2>propoleo 300gr</h2> 
    <p>organico</p>
    <button>
    comprar
</button>
</div>
</div>
</body>
</html>

  