/** >>>>>>>>>>>>>>>>>>>>>>>>>>> RESET <<<<<<<< */

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  list-style-type: none;
  font-family: roboto;
  width: fit-content;
  block-size: fit-content;
}

/** >>>>>>>>>>>>>>>>>>>>>>>>>>> HEADER <<<<<<<< */

.encabezado {
  background-color: #eeba0b;
}

.encabezado__nav,
.lista {
  display: flex;
}


.encabezado__nav {
    justify-content: space-between;
    align-items: center;
  }
  
  .link {
    text-decoration: none;
    color: #000;
    display: block;
  }
  
  .link--logo {
    width: 117px;
    height: 117px;
    border-radius: 50%;
  }
  
  .image {
    width: 100%;
    display: block;
  }
  
  .lista {
    list-style: none;
  }
  
  .lista {
    gap: 43px;
  }
  
  .boton {
    display: block;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .boton--hamburguesa {
    background-color: transparent;
    padding: 0;
    font-size: 22px;
  }
  
  .seccion--vistas {
    padding: 0 43px;
  }
  
  .link--vistas {
    font-size: 20px;
  }

  .contenedor--migadepan {
    padding: 20px;
  }

  .lista--migadepan {
    gap: inherit;
    padding: 20px 0;
    color: #666;
  }
  
  .lista--migadepan .item__lista {
    padding: 0 10px;
    border-right: 1px solid #666;
  }
  
  .lista--migadepan .item__lista:last-child {
    border-right: 0;
  }
  

/** >>>>>>>>>>>>>>>>>>>>>>>>>>> FOOTER <<<<<<<< */

.pie {
  display: block;
  background-color: #050517;
  padding: 43px;
}

.contenedor--pie {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.tarjeta__pie {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pie__seccion {
  color: #fff;
  width: 100%;
  margin-bottom: 20px;
}

.seccion--pie-logo {
  display: flex;
  justify-content: center;
}

.seccion--copyright {
  display: block;
  text-align: center;
  margin: 0;
}

.pie__informacion__parrafo,
.pie__informacion__titulo {
  text-align: center;
}

.pie__informacion__titulo {
  margin-bottom: 20px;
}

.seccion--copyright,
.pie__informacion__parrafo {
  font-weight: 300;
}

.lista--redes-sociales {
  align-items: center;
  justify-content: center;
}

.redes-sociales {
  display: flex;
  gap: 10px;
  text-align: center;
  font-size: 20px;
  color: #f1f1f1;
}

.lista--vistas,
.redes-sociales__name {
  display: none;
}

@media (768px <= width) {

  .lista--user {
    display: none;
  }

  .lista--vistas {
    display: flex;
  }

}

@media (1024px <= width) {
  .contenedor--pie {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .pie__seccion {
    width: calc(100% / 3);
  }

  .lista--redes-sociales {
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
  }

  .redes-sociales__name {
    display: block;
  }

  .seccion--pie-logo {
    justify-content: inherit;
  }

  .seccion--copyright {
    width: 100%;
  }
}
