/** >>>>>>>>>>>>>>>>>>>>>>>>>>> BODY <<<<<<<< */

main{
    background-color: #ebebeb;
    text-align: center;
  }

  .imagen__banner{
    display: block;
    width: 100%;
    padding: 0px;
  }

  .iconos-iniciales{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 22px;
    padding-top: 20px;
    margin-top: -3px;
    background-color: white;
    width: 100%;
   
  }

  .iconos-iniciales a{
    text-decoration: none;
    color: black;
  }


  .iconos-iniciales i{
    color:#CF5C36 ;
  }


  .section--destacados {
    background-color: #c5c5c5;
  }
  
  .contenedor--tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 20px;
  }
  
  .contenedor__productos {
    width: 100%;
  }
  
  .texto--total,
  .costo--total{
    font-size: 20px;
    font-weight: 700;
  }
  
  .principal__titulo-section {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    color: #666;
  }
  
  .tarjeta {
    width: 100%;
    max-width: calc((1200px / 3) - 40px);
    display: block;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 3px 3px 21px rgb(100, 100, 100, 0.5);
    color: #666;
    margin-bottom: 20px;
  }
  
  .tarjeta__encabezado {
    margin-bottom: 15px;
  }
  
  .tarjeta__titulo {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .tarjeta__descripcion{
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .imagen--producto{
    object-fit: cover;
    aspect-ratio: 16 / 9;
  }
  
  .contenedor--botones{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 10px;
  }
  
  .tarjeta__precio {
      font-size: 18px;
      font-weight: normal;
  }
  
  .boton--more{
    background-color: transparent;
    color: #CF5C36;
  }
  .boton--more:hover{
    color: #bd431a;
    background-color: #ebebeb;
  }
  
  .boton--buy{
    background-color: #CF5C36;
    color: white;
  }
  
  .boton--buy:hover{
    background-color: #bd431a;
    color: white;
  }
  
  .pago__subtotal {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 20px;
  }
  
  .pago__line {
    width: 100%;
    height: 1px;
  }
  
  
  .contenedor {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  @media (768px <= width) {
    body {
      width: auto;
    }

    .imagen__banner{
        width: 100%;
        padding: 0px;
    }

    .iconos-iniciales{
        padding: 31px;
        padding-top: 34px;
        margin-top: -3px;
        background-color: white;
        width: 100%;
        justify-content: center;
        gap: 72px;
    }

    .iconos-iniciales i{
        font-size: 35px;
    }

    .iconos-iniciales p{
        font-size: 15px;
    }

    .tarjeta {
      max-width: calc((1200px / 4) - 40px);
    }
    .contenedor--tarjetas {
      padding: 40px 0;
    }
  
    .compra__columna{
      width: calc(100% / 4);
      padding: 0 20px;
    }
    
    .columna--imagen {
      display: flex;
    }
  
    .imagen--compra {
      max-width: 80px;
    }
  }
  
  @media (1024px <= width) {

    .iconos-iniciales{
        padding: 76px;
        padding-top: 54px;
        margin-top: -3px;
        background-color: white;
        width: 100%;
        justify-content: center;
        gap: 72px;
    }
    
    .iconos-iniciales i{
        font-size: 42px;
    }

    .iconos-iniciales p{
        font-size: 20px;
    }

    .contenedor__productos{
      width: calc(100% - 320px);
    }
  
    .contenedor__pago {
      max-width: 300px;
    }
  
    .section--productos {
      margin: 0px auto 40px;
    }
  
    .compra:last-child {
      margin-bottom: 0;
    }
  }