<footer class="pie">
    <div class="contenedor contenedor--pie">
      <section class="pie__seccion seccion--pie-logo">
        <a class="link link--logo" href="/">
          <img
            class="image image--logo"
            src="/img/logoDhBees.png"
            alt="logo digital Bees"
          />
        </a>
      </section>
      <section class="pie__seccion seccion--informacion">
        <h4 class="pie__informacion__titulo">Quienes somos</h4>
        <p class="pie__informacion__parrafo">
          En este proyecto vamos a estar construyendo desde cero una página
          de e-commerce cuya temática principal sería la venta
          de productos derivados de la apicultura.
        </p>
      </section>
      <section class="pie__seccion seccion--redes-sociales">
        <ul class="lista lista--redes-sociales">
          <li class="lista__item">
            <a class="redes-sociales" href=""
              ><i class="fa-brands fa-instagram"></i
              ><span class="redes-sociales__name">Instagram</span></a
            >
          </li>
          <li class="lista__item">
            <a class="redes-sociales" href=""
              ><i class="fa-brands fa-x-twitter"></i
              ><span class="redes-sociales__name">Twitter</span></a
            >
          </li>
          <li class="lista__item">
            <a class="redes-sociales" href=""
              ><i class="fa-brands fa-youtube"></i
              ><span class="redes-sociales__name">Youtube</span></a
            >
          </li>
        </ul>
      </section>
      <section class="pie__seccion seccion--copyright">
        <small class="pie__seccion__copyright"
          >Copyright © 2024 grupo 8 - digital house</small
        >
      </section>
    </div>
  </footer>