<header class="encabezado">
  <nav class="encabezado__nav">
    <section class="encabezado__nav__seccion seccion--logo">
      <a class="link link--logo" href="/">
        <img class="image image--logo" src="/img/logo-dh-bees.png" alt="" />
      </a>
    </section>
    <section class="encabezado__nav__seccion seccion--vistas">
      <ul class="lista lista--vistas">
        
        <li class="lista__item">
          <a class="link link--vistas" href="/">Home</a>
        </li>
        <li class="lista__item">
          <a class="link link--vistas" href="/productos">Productos</a>
        </li>
        <% if (locals.isLogged && locals.userLogged.user_role_id == 2){%>
        <li class="lista__item">
          <a class="link link--vistas" href="/productos/admin">Admin</a>
        </li>
        <% } %>

        <% if (locals.isLogged){%>

        <li class="lista__item">
          <a class="link link--vistas foto-perfil" href="/usuarios/perfil"><img src="/img/imgUsers/<%= locals.userLogged.profile_picture %>" width="20" height="20" style=" border-radius:100%;"><%= locals.userLogged.first_name %></a>
        </li>
        <li class="lista__item">
          <a class="link link--vistas" href="/usuarios/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
        </li>

        <% } else {%>
        <li class="lista__item">
          <a class="link link--vistas" href="/usuarios/registro">Registrate</a>
        </li>
        <li class="lista__item">
          <a class="link link--vistas" href="/usuarios/login">Login</a>
        </li>

        <% } %>

        <li class="lista__item">
          <a class="link link--vistas carro-numero" href="/productos/carrito"
            ><i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
            <!--NO cambiar la clase cart-number-->
            <span class="cart-number">0</span>
          </a>
        </li>
      </ul>
      

<!--                   CAMBIO DE UL A MODO LOGUEADO CON ADMIN                  -->

      <ul class="lista lista--user">
        <% if (locals.isLogged && locals.userLogged.user_role_id == 2){%>
        <li class="lista__item">
          <a class="link link--vistas" href="/productos/admin"
            ><i class="fa-solid fa-user-secret"></i>
          </a>
          <% } %>

          <% if (locals.isLogged){%>

            <li class="lista__item">
              <a class="link link--vistas" href="/usuarios/perfil"><img src="/img/imgUsers/<%= locals.userLogged.profile_picture %>" width="20" height="20" style=" border-radius:100%;"><%= locals.userLogged.first_name %></a>
            </li>
            <li class="lista__item">
              <a class="link link--vistas" href="/usuarios/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
            </li>
    
            <% } else { %>

            <li class="lista__item">
              <a class="link link--vistas" href="/usuarios/login"
                ><i class="icono icono--usuario fa-solid fa-user"></i
              ></a>
          <% } %>   

        </li>
        <li class="lista__item">
          <a class="link link--vistas carro-numero" href="/productos/carrito"
            ><i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
          <span class="cart-number">0</span>
          </a>
        </li>
        <li class="lista__item">
          <button class="boton boton--hamburguesa">
            <i class="icono icono--hamburguesa fas fa-bars"></i>
          </button>
        </li>
      </ul>
    </section>
  </nav>
  </header>