<header class="encabezado">
  <nav class="encabezado__nav">
    <section class="encabezado__nav__seccion seccion--logo">
      <a class="link link--logo" href="/">
        <img class="image image--logo" src="/img/logoDhBees.png" alt="" />
      </a>
    </section>
    <section class="encabezado__nav__seccion seccion--vistas">
      <ul class="lista lista--vistas">
        <li class="lista__item">
          <a class="link link--vistas" href="/productos/admin">Admin</a>
        </li>
        <li class="lista__item">
          <a class="link link--vistas" href="/">Home</a>
        </li>
        <li class="lista__item">
          <a class="link link--vistas" href="/productos">Productos</a>
        </li>
        <li class="lista__item">
          <a class="link link--vistas" href="/registro">Registrate</a>
        </li>
        <li class="lista__item">
          <a class="link link--vistas" href="/login">Login</a>
        </li>
        <li class="lista__item">
          <a class="link link--vistas" href="/productos/carrito"
            ><i class="icono icono--carrito fa-solid fa-cart-shopping"></i
          ></a>
        </li>
      </ul>
      <ul class="lista lista--user">
        <li class="lista__item">
          <a class="link link--vistas" href="/productos/admin"
            ><i class="fa-solid fa-user-secret"></i>
          </a>
        <li class="lista__item">
          <a class="link link--vistas" href="/login"
            ><i class="icono icono--usuario fa-solid fa-user"></i
          ></a>
        </li>
        <li class="lista__item">
          <a class="link link--vistas" href="/carrito"
            ><i class="icono icono--carrito fa-solid fa-cart-shopping"></i
          ></a>
        </li>
        <li class="lista__item">
          <button class="boton boton--hamburguesa">
            <i class="icono icono--hamburguesa fas fa-bars"></i>
          </button>
        </li>
      </ul>
    </section>
  </nav>
  </header>