<h2 class="mt-5 mb-3 h2 text-center"> Productos en mi carrito</h2><br>
                <div class="card my-5">
                    <div class="card-body">
                        <table class="table table-responsive-md mb-0">
                            <thead>
                                <tr>
                                    <th style="width: 50px;">
                                        <strong>Numero</strong>
                                    </th>
                                    <th class="th-lg">
                                        <strong>Producto</strong>
                                    </th>
                                    <th class="text-center">
                                      <strong>Cantidad</strong>
                                    </th>
                                    <th class="th-lg ">
                                        <strong>Precio</strong>
                                    </th>
                                    <th class="th-lg ">
                                      <strong>Subtotal</strong>
                                  </th>
                                  <th class="th-lg ">
                                    <strong>Accion</strong>
                                </th>
                                    <th style="width: 50px;"></th>
                                </tr>
                            </thead>
                            <tbody class="cartRows">
                            </tbody>
                        </table>

          </div><br>
          <div class="contenedor__pago">
            <h3 class="pago__titulo">Resumen del pedido</h3>
            <h2>Subtotal: <span class="totalSubAmount">$ 0</span></h2>
  
            <h2>Total: <span class="totalAmount">$ 0</span></h2>
            
            <form class="card-body" id="checkoutCart">
              <button class="pago__boton">Comprar</button>
            </form>
            
          </div>