<!DOCTYPE html>
<html lang="en">
  <head>
    <!--head partial-->
    <%- include('../partials/head', {css:'css/product-detail.css'}); %>
    <!--fin partial-->
</head>
  <body class="cuerpo">
      <%- include('../partials/header'); %>
    <main class="principal">
      
        <section class="principal__section section--migadepan">
          <div class="contenedor contenedor--migadepan">
            <ol class="lista lista--migadepan">
                <li class="item__lista"><i class="fa-solid fa-house"></i></li>
                <li class="item__lista">Tienda Virtual</li>
            </ol> 
          </div>
        </section>

        <section>
          <h1>Detalle del producto</h1>
          <div class="contenedor-image">
            <img src="/img/miel_5kg.jpg" alt="frasco de miel" class="image">
          </div>
          <div class="descripcion-producto">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis repudiandae, quisquam labore veniam quos fugit maxime molestiae, inventore ab quibusdam culpa? At quas itaque libero reiciendis mollitia nemo molestiae magni.</p>
          </div>

          <div class="boton-cantidad">
            <select class="compra__cantidad" name="Cantidad">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>

          <div class="precio-producto">
            <p>$9500</p>
          </div>

          <div class="boton-agregar-carro">
            <a class="link" href="/carrito">
              <button class="tarjeta__boton boton--buy boton">
                <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
                Agregar al carro
              </button>
            </a>
          </div>
        </section>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>

