<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {css:'css/product-create-edit.css'}); %>
</head>

<body>
    <%- include('../partials/header'); %>
        <main class="principal">
            <h2 class="title">Editar producto</h2>
            <section>
                <form action="/" class="form-create">
                    <div>
                        <div>
                            <label for="product-name">
                                <input type="text" class="input-text" placeholder="Nombre del producto"
                                    name="product-name" id="product-name" required />
                            </label>
                        </div>
                        <div>
                            <label for="description">
                                <input type="text" class="input-text" placeholder="Descripcion" name="description"
                                    id="description" required />
                            </label>
                        </div>
                        <div>
                            <label for="category">
                                <input type="text" class="input-text" placeholder="Categoria" name="category"
                                    id="category" required />
                            </label>
                        </div>
                        <div>
                            <label for="weight">
                                <input type="number" class="input-text" placeholder="Peso" name="weight" id="weight"
                                    required />
                            </label>
                        </div>
                        <div>
                            <label for="price">
                                <input type="number" class="input-text" placeholder="Precio" name="price" id="price"
                                    required />
                            </label>
                        </div>
                        <div>
                            <label for="image">Foto de producto</label>
                            <input type="file" name="image" />
                        </div>
                    </div>
                    <button type="submit" class="submit">Editar producto</button>
                </form>
        </main>
        <%- include('../partials/footer'); %>
</body>

</html>