<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {css:'css/product-edit.css'}); %>
</head>
<body>
    <main>

    </main>
    <%- include('../partials/footer'); %>
</body>
</html>