<!DOCTYPE html>
<html lang="en">
<head>
    <!--head partial-->
    <%- include('../partials/head', {css:'/css/register-login.css'}); %>
    <!--fin partial-->
</head>
<body>  
    <%- include('../partials/header'); %>

    <main>
        <div class="main">

            <section class="principal__section section--migadepan">
                <div class="contenedor contenedor--migadepan">
                   <%- include('../partials/breadcrumbUsers', {local: 'Registro'}); %> 
                </div>
              </section>

            <h2 class="titulo-registro">Registrate</h2>

            <section>
                <form method="POST" action="/usuarios/registro" class="form-container" enctype="multipart/form-data">
                    <div>
                        <div>
                            <label for="first_name">
                                <input type="text" class="input-text" placeholder="Nombre"
                                    name="first_name" id="first_name" required />
                            </label>
                        </div>
                        <div>
                            <label for="last_name">
                                <input type="text" class="input-text" placeholder="Apellido"
                                    name="last_name" id="last_name" required />
                            </label>
                        </div>
                        <div>
                            <label for="email">
                                <input type="email" class="input-email" placeholder="E-mail" name="email" id="email"
                                    required />
                            </label>
                        </div>
                        <div>
                            <label for="country">
                                <input type="text" class="input-text" placeholder="País" name="country"
                                    id="country" />
                            </label>
                        </div>
                        <div>
                            <label for="city">
                                <input type="text" class="input-text" placeholder="Ciudad" name="city"
                                    id="city" />
                            </label>
                        </div>
                        <div>
                            <label for="address">
                                <input type="text" class="input-text" placeholder="Domicilio" name="address"
                                    id="address" />
                            </label>
                        </div>
                        <div>
                            <label for="phone_number">
                                <input type="text" class="input-text" placeholder="Teléfono" name="phone_number"
                                    id="phone_number" />
                            </label>
                        </div>
                        <div>
                            <label for="profile_picture">Imagen de perfil</label>
                            <input type="file" name="profile_picture" />
                        </div>
                    </div>
                    <div>
                        <div>
                            <label for="">
                                <input type="password" class="input-password" name="password" placeholder="Contraseña"
                                    required />
                            </label>
                        </div>
                        <div>
                            <label for="">
                                <input type="password" class="input-password" name="password"
                                    placeholder="Confirmar contraseña" required />
                            </label>
                        </div>
                    </div>
                    <div>
                        <button type="submit">ENVIAR</button>
                    </div>

                    <p class="link-register-login">¿Ya tienes cuenta? Inicia sesión<a href="/login"> acá</a></p>
                </form>
            </section>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>
</html>